{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="container">
	<div class="row mx_auto">
	<div class="col-6 col-sm-12 col-md-6 col-lg-6 xol-lg-6">
		<img src="{{movies.image.url}}" height="600px" width="100%">
	</div>

	<div class="col-6 col-sm-12 col-md-6 col-lg-6 xol-lg-6">
		<h4>{{movies.name}}</h4>
		<h5>{{movies.movie_lang}}</h5>
		<p>{{movies.desc}}</p>
		<a class="btn btn-danger" href="{% url 'movie:delete' movies.id %}">Delete</a>
	</div>

</div>
</div>

{% endblock %}